.MovieSidebarOuterDiv {
  display: flex;
  flex-direction: column;
  gap: 70px;
  font-size: 25px;
  color: #f5deb387;
  width: 400px;
}

.MovieSidebarOuterDiv > div {
  cursor: pointer;
}
.selectedValue {
  font-size: 35px;
  color: wheat;
}
