.charactersContainer {
  display: flex;
  flex-direction: column;
}

.charactersContainer > div {
  display: flex;
  justify-content: center;
}

.favIconButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  color: red;
  font-size: 40px;
}

.favIconButton:hover {
  /*  letter-spacing: 25px; */
  transform: scale(1.2);
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
