.navbarOuterDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  width: 100%;
  /*  background-image: url("../../../assets/wallpaper3.png"); */
  background-color: transparent;
  position: fixed;
  z-index: 2;
}

.navbarOuterDiv > div {
  height: 3rem;
}
.logoutButton {
  font-size: 30px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding-top: 10px;
}

.logoutButton > span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoutButton > span:last-child {
  padding: 3px;
}

.logoutButton > span {
  cursor: pointer;
}

.logoutButton > span:hover {
  animation: heartbeat 2s ease-in-out infinite both;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
