.navbarOuterDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  width: 100%;
  /*  background-image: url("../../../assets/wallpaper3.png"); */
  background-color: transparent;
  position: fixed;
  z-index: 2;
}

.navbarOuterDiv > div {
  height: 3rem;
}
.logoutButton {
  font-size: 30px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.logoutButton > span:first-child {
  border: 2px solid white;
  padding: 2px 17px;
  border-radius: 8px;
  cursor: pointer;
}
/* .logoutButton > span:first-child :hover {
  background-color: #f5f5f5;
  color: #000;
}
*/

.logoutButton > span:nth-child(2) > img {
  cursor: pointer;
}

/* .logoutButton > span:nth-child(2) img:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
} */

.logoutButton > span:nth-child(2) > img:hover {
  animation: heartbeat 2s ease-in-out infinite both;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.logoutButton span:first-child:hover {
  background-color: #f5f5f5;
  color: black;
}
